@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';

.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #41345C;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

h3, h4 {
  margin-left: 10px;
  color: #3e3a3a;
}

.container {
  min-height: 70vh;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 960px;
}

#agenda-wrapper {
  width: 60%;
  margin: auto;
}
